ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1050px;
}

ul li{
    font-size: 1.4em;
}


.page{
    cursor: pointer;
    padding: 0 20px;
}

.page:hover{
    color:rgb(82, 33, 33);
}